body{ 
    background-image: url(https://getwallpapers.com/wallpaper/full/0/3/4/51562.jpg);
    color: red;
    text-align: center;
    text-shadow: 2px black;
    font-size: xx-large;
}
img{
    width: 650px;
    height: 400px;
    border: 3px silver;
    border-radius: 20px ;
}