body {
    text-align: center;
    background-image: url(../img/red-5828562_960_720.webp); 
    background-size: cover;
}


.pic {
      border-color: red;
      border-style:groove ;
      padding: 20px;
      border: 10px;
   
}