body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

h1 {
    background-color: #0056b3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: 0;
}

p {
    padding: 20px;
}

img {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2 {
    font font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px 0;
    

}

li {
    text-align: left;
    margin:0;
    padding: 0;
}
img {
    display: block;
    margin: 20px auto;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}